<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %highlight(%-5level) [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.yandex.practicum" level="INFO"/>
    <logger name="org.springframework.cloud.netflix.eureka" level="INFO"/>
    <logger name="com.netflix.discovery" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>